*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    

}
body {padding: 20px;}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("https://imgs.search.brave.com/sxdjBBnJ-9SUvymohY2M0K9EuA8RRgDBY-_Wbrd-kB8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXQuY29t/L3cvZnVsbC8zL2Qv/NS82MDc5MjUtMTky/MHgxMjAwLWRlc2t0/b3AtaGQtc3BvcnRz/LWJpa2UtYmFja2dy/b3VuZC1pbWFnZS5q/cGc");
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}
.navbar{
    width: 85%;
    margin:  0 auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 16px;
    transition: all 0.3s ease;
    border-radius: 4px;
}

.navbar ul li a:hover {
    background-color: rgba(255, 255, 0, 0.5);
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 100px;
    margin-top: 80px;
}
.content p{
    font-size: 20px;
    margin: 20px auto;
    font-weight: 100;
}
.card-container {
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    border-radius: 20px; 
}

.card{
    width: 325px;
    background-color:black;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px;
    margin: 20px;
}
.card img{
 width: 100%;
 height: 200px;
 object-fit: cover;
 display: block;
}
.card-content h3{
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 8px;
} 
.card-content
{
    color:rgb(235, 241, 247);
    font-size: 15px;
    line-height: 1.3;
}


